.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.list [class*="itemContent"] {
  min-height: 28px;
}

.list button[aria-selected="true"],
.list button[aria-selected="true"]:hover {
  background: var(--color-overlay-subtle) !important;
}
