.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.list [data-list-item] {
  min-height: 32px;
}

.list [data-list-item][aria-selected="true"],
.list [data-list-item][aria-selected="true"]:hover {
  background: var(--color-overlay-subtle) !important;
}
